@using Microsoft.AspNet.Identity

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            @Html.ActionLink("Mooshak Fonseca", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">@User.Identity.GetUserName() <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <!--TODO: tengja action link við account settings page-->
                        @if (Request.IsAuthenticated)
                        {
                            <li>
                                @Html.ActionLink("Reset your password", "ResetPassword", "Account")
                            </li>
                        }
                        
                        <li>@Html.ActionLink("Help", "Help", "Home", new { area = "" }, new { @class = "list item in nav bar" })</li>
                        <li>
                            @if (Request.IsAuthenticated)
                            {
                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "list item in nav bar" }))
                            {
                                @Html.AntiForgeryToken()
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                            }
                        }
                    </ul>
                </li>
                <li>
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
                        {
                            @Html.AntiForgeryToken()
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                            </ul>
                        }
                    }
                </li>

            </ul>
            
        </div>
    </div>
</nav>