@model mooshak_2._0.Models.ViewModels.CourseViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.Title;
}

<div class="jumbotron">
    <h1 class="page-header text-center">@Model.Title</h1>
    <h2 class="page-header text-center">Assignments</h2>
</div>

<div class="row">
    @{
        if (!Model.Assignments.Any())
        {
            <div class="alert text-center">There aren't any assignments in this course yet</div>
        }
        foreach (var assignment in Model.Assignments)
        {
            <div class="col-xs-6 col-sm-4">
                <div class="breadcrumb">
                    <h2 class="text-center">@assignment.Title</h2>
                    <p class="text-center">@assignment.Description</p>
                    <br />
                    <div class="form-horizontal">
                        <p class="text-center">@Html.ActionLink("View assignments", "Assignment", "Student", new { id = assignment.Id }, new { @class = "btn btn-primary btn-large" })</p>
                    </div>
                </div>
            </div>
        }
    }
</div>
<div>
    <p>@Html.ActionLink("Back", "Index",null,new { @class = "btn btn-primary" })</p>
</div>

