@using System.Web.UI.WebControls
@model List<mooshak_2._0.Models.ViewModels.CourseViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Mooshak Fonseca";
}

<h1 class="page-header">Mooshak Fonseca</h1>
<!--
@{
    /*if (!Model.Any())
    {
        <div class="alert">We're sorry but you aren't in any courses</div>
    }
    else
    {
        foreach (var course in Model)
        {
            <div class="col-xs-6 col-sm-4">
                <h2>@course.Title</h2>
                <p>Here is the description</p>
                <p>@Html.ActionLink("Details", "Course", "Student", new { id = course.ID }, new { @class = "btn btn-primary btn-large" })</p>
            </div>
        }
    }*/
}
    -->

<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li>@Html.ActionLink("Submit Solution", "Submission", "Student")</li>

    </ul>
</div>
<div class="col-xs-6 col-sm-4">
    <h2>Course 1</h2>
    <p>Here is the description</p>
    <p>@Html.ActionLink("Details", "Course", "Student", new { id = 1 }, new { @class = "btn btn-primary btn-large" })</p>
</div>
<div class="col-xs-6 col-sm-4">
    <h2>Course 2</h2>
    <p>BARA ÚTLIT</p>
    <p>@Html.ActionLink("Course 2", "Course", "Student", new { id = 2 } , new { @class = "btn btn-primary btn-large" })</p>
</div>
