@model mooshak_2._0.Models.ViewModels.CourseViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.Title;
}

<h2 class="page-header">@Model.Title</h2>
@{
    if(!Model.Assignments.Any())
    {
        <div class="alert">There aren't any assignments in this course yet</div>
    }
    <div class="form-actions">
        @Html.ActionLink("Create New Assignment", "CreateAssignment", "Teacher", new { courseId = Model.Id }, new { @class = "btn btn-info" })
    </div>

    foreach (var assignment in Model.Assignments)
    {
        <div class="col-xs-6 col-sm-4">
            <div class="breadcrumb">
                <h2>@assignment.title</h2>
                    <p style="font-size:large">@assignment.description</p>
                        <br />
                    <div class="form-horizontal">
                        <p>@Html.ActionLink("Details", "Assignment", "Teacher", new { id = assignment.id }, new { @class = "btn btn-primary btn-large" })</p>
                    </div>
                </div>
        </div>
    }
}