@model mooshak_2._0.Models.ViewModels.CourseViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.Title;
}

<h2 class="page-header">@Model.Title</h2>
@{
    if(!Model.Assignments.Any())
    {
        <div class="alert">There aren't any assignments in this course yet</div>
    }
    foreach (var assignment in Model.Assignments)
    {
        <div class="col-xs-6 col-sm-4">
            <h2>@assignment.title</h2>
            <p>Here is the description</p>
            <p>@Html.ActionLink("Details", "Assignment", "Teacher", new { id = assignment.id }, new { @class = "btn btn-primary btn-large" })</p>
        </div>
    }
}

<div class="col-xs-6 col-sm-4">
    <h2>Assignments</h2>

    <p>@Html.ActionLink("Assignments", "Assignment", "Teacher", new { id = Model.Id  }, new { @class = "btn btn-primary btn-large" })</p>
</div>
<div class="col-xs-6 col-sm-4">
    <h2>View Submissions</h2>

    <p>@Html.ActionLink("Submissions", "Submissions", "Teacher", new { id = Model.Id}, new { @class = "btn btn-primary btn-large" })</p>
</div>

