@using System.Web.UI.WebControls
@model IEnumerable<mooshak_2._0.Models.ApplicationUser>
@{
    ViewBag.Title = "Add users to a course";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add users to a course</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("User", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Users", new SelectList(Model.Select(x => new { Value = x.Id, Text = x.Email}), "Value", "Text"),
                 "Select user to add",  new { @class = "btn btn-default dropdown-toggle"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add to course" onclick="AddUser(id)" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    function AddUser(Id)
    {
        var toAdd = confirm("Are you sure you want to delete this User?")
        if(toAdd == true)
        {
            window.location.assign("/Admin/AddUser/" + Id);
        }

    }
</script>